@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Bitter:400);

html,body {
	height:100%;
    background:center no-repeat fixed url('/static/map/preview.png');
    background-size: cover;
    color:#444;
    font-family: 'Lato', sans-serif;
}

@media (min-width:768px) {
    h1 {
        font-size:68px;
    }
}

a {
    color:#999;
}

a:hover {
    color:#111;
}

.btn,.well,.panel {
    border-radius:0;
}

.btn-danger {
    background-color:#f44d3c;
}

.text-danger, a.text-danger {
    color:#f44d3c;
}

.btn-huge {
    padding:17px 22px;
    font-size:22px;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.bitter {
    font-family: 'Bitter', serif;
}

.icon-bar {
	background-color:#fff;
}

.navbar-trans {
	background-color:#2b2b2b;
    color:#cdcdcd;
    border-width:0;
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
    padding: 14px;
    color:#f44d3c;
}

.navbar-trans li>a:focus,.navbar-trans li.active {
	background-color:#f44d3c;
	color:#333;
}

.navbar-trans li>a:hover {
	background-color:#f44d3c;
	color:#fff;
	opacity:0.5;
}

.navbar-trans a{
    color:#cdcdcd;
    letter-spacing:1px;
}

.navbar-trans .form-control:focus {
	border-color: #eee;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  padding: 7px;
  text-align: center;
  z-index:-1
}

.scroll-up {
  position: fixed;
  display: none;
  z-index: 999;
  bottom: 2em;
  right: 2em;
}

.scroll-up a {
  background-color: rgba(135, 135, 135, 0.5);
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

section {
	padding-top:70px;  
    padding-bottom:50px;
    min-height:100%;
    min-height:calc(100% - 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media (min-width:768px) {
    .v-center {
        height: 50%;
        overflow: visible;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
}
  
#section1, #section3 {
	background-color: rgba(0,0,0,0.7);
	color:#fff;
	font-family: 'Bitter', serif;
}
  
#section4 {
	background-color: #f6f6f6;
	color:#444;
}
  
#section2 {
	background-color: #fff;
}

#section3 {
	background-color: rgba(0,0,0,0.9);
}

#section5 {
	background-color: #fff;
}

#section6 {
    background-color: #eee;
	min-height:130px;
	padding-top:40px;
	padding-bottom:40px;
}

#section7 {
	background-color: #f44d3c;
	color: #f6f6f6;
	min-height:130px;
	padding-top:40px;
	padding-bottom:40px;
}

footer {
	background-color:#2b2b2b;
    color:#ddd;
    min-height:100px;
    padding-top:20px;
    padding-bottom:40px;
}

footer .nav>li>a {
    padding: 3px;
    color: #f44d3c;
}

footer .nav>li>a:hover {
    background-color:transparent;
	color:#fff;
}

/*Machulyanskiy: home page: */
.bg-light-gray {
    background-color: #f7f7f7;
    padding: 100px 0;
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

::selection {
    text-shadow: none;
    background: #fed136;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.text-muted {
    color: #777;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #01579B;
}

section#services
{
	background-color: #fff;
    padding: 100px 0;
}

#services .section-heading
{
  margin-bottom: 75px;
}

#services .scroll-down
{
  border: 2px solid #01579B;
  }
/*
section#contact {
    background-color: #222;
    background-image: url(/static/map/preview.png);
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}

section#contact .text-danger {
    color: #e74c3c;
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #fed136;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}*/