#top-nav
{
  background: #01579B;
  color: white;
}

#parserID
{
    width: 3em;
}

#parserURL
{
  width:85%;
}

.form-add .input-group-addon
{
  padding: 4px 4px;
}

.form-add select
{
  min-width: 18pt;
  padding: 0 0px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.removedUser, .removedUser td
{
  background: navajowhite!important;
}

.newItem, .newItem td
{
  background: mediumspringgreen!important;
}

.parseResult
{
 
}
.margin_top_10px
{
  margin-top:10px;
}
.admin-panel .nav-stacked .fa
{
    min-width: 20px;
}
.cursor
{
  cursor: pointer;
}
.navbar-brand
{
  color:white!important;
}

.navbar-nav a
{
  color: white!important;
}

.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:18px;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

.nav>li .count {
  position: absolute;
  top: 10%;
  right: 25%;
  font-size: 10px;
  font-weight: normal;
  background: rgba(41,200,41,0.75);
  /*color: rgb(255,255,255);*/
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.table
{
  margin-bottom: 0!important;
}

.show-more
{
  width: 100%;
  text-align: center;
  background: aliceblue;
}

.nopadding {
  padding: 0 !important;
}

.remove-icon
{
  cursor: pointer;
}

.round-icon i
{
  font-size: 3em;
}

.round-icon
{
  font-size: 1em;
}

.summary hr
{
  margin-top: 0px;
}

/* ==================================
 * Dashboard
 * ================================== */

.body-admin
{
  background: #E7E7E7;
}

.admin-panel
{
  background: #fff;
  box-shadow: 2px 2px 2px 2px rgb(183, 182, 182);
  margin: 20px;
}

.admin-panel-heading
{
  background: #fafafa;
}
#top-nav-admin
{
  background: #BA68C8;
  box-shadow: 1px 1px 1px 1px rgb(200, 200, 200);
  color: white;
  border: 0;
}

.navbar-header-admin
{
}

.admin-tabs
{
  background: white;
}